<div>
	<div id="mainSelectUnitType" class="input-group">
		<span class="input-group-addon glyphicon glyphicon-chevron-down select-unit-type-icon"></span>
		<span id="selectedValue" class="placepicker form-control unit-type-input input-data skip-identifier" data-label="type">{i18n.SELECT_TYPE}</span>
	</div>

	<div id="optionsUnitType" class="col-sm-10">
		<% _.each(items, function(item) { %>
			<div class="col-sm-10 select-option" id="<%= item.id %>">
				<img class="unit-type-icon" src="<%= item.imageSrc %>">
				<span class="unit-type-name"><%= item.name %></span>
			</div>
		<% }); %>
	</div>
</div>