/* Bootstrap alert*/
.alert-success, .alert-danger{
    display: none;
}
.confirm-modal-body {
    margin: 25% 20%;
    padding: 0 20px 20px 20px;
}
#article-modal {
    display: block;
    overflow-y: hidden;
}
.input-group-addon {
    cursor: pointer;
}
#optionsUnitType {
    display: none;
}
.input-group{
  .input-picker-cursor {
    cursor: pointer;
  }
}
