#content{
  margin-top: 55px;
}
#content ul {
    list-style: none;
}

.table-title {
    text-align: center;
}
#map {
    height: 200px;
}
.modal-header .close {
    margin-top: -10px;
}
.article-title{
    text-align: center;
}
.list-group-item.no-border{
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.lead{
    font-size: 1em;
}
.center{
    text-align: center;
}

//admin-panel
.navbar-nav>li>a.profile-link-padding, .nav>li>a.profile-link-padding {
    padding: 0;
}
.logout-button {
    font-size: 24px;
    position: relative;
    top: 5px;
    color: #A2A3A8;
    margin: 7px;
    cursor: pointer;

    &:hover {
      color: #777B87;
    }
}
