#content{
  margin-top: 55px;
}
#content ul {
    list-style: none;
}
.table-title {
    text-align: center;
}
#map {
    height: 200px;
}
.modal-header .close {
    margin-top: -10px;
}
.article-title{
    text-align: center;
}
.list-group-item.no-border{
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.lead{
    font-size: 1em;
}
.center{
    text-align: center;
}