$current-date: red;
$date-year-element: red;
$date-month-element: blue;
$date-day-element: #777;
$tl-sep-line: #93BBB6;
$tl-sep-line-arrow: #555;
$content-bg-block-background: #F1F1F1;
$content-bg-block-shadow: #95B3C4;
$time-bg-block-background: #fff;
$tl-control-border-color: #B3ADAD;
$tl-control-background-color: #E5F0C4;
$tl-control-shadow: #FFB5D5;


$time-block-border-color: #000;
$element-title-color: #000;
$element-img-border: #fff;
$content-element-bg: #E7E5E5;
$content-element-border: #d5d5d5;
$content-element-bg-hover: #fff;
$time-of-news: red;
$current-news-bg-color: #fff;