  $sprite-back1-x: 42px;
  $sprite-back1-y: 0px;
  $sprite-back1-offset-x: -42px;
  $sprite-back1-offset-y: 0px;
  $sprite-back1-width: 16px;
  $sprite-back1-height: 10px;
  $sprite-back1-total-width: 58px;
  $sprite-back1-total-height: 37px;
  $sprite-back1-image: '../img/sprite.png';
  $sprite-back1: 42px 0px -42px 0px 16px 10px 58px 37px '../img/sprite.png';
  $sprite-play-x: 0px;
  $sprite-play-y: 0px;
  $sprite-play-offset-x: 0px;
  $sprite-play-offset-y: 0px;
  $sprite-play-width: 16px;
  $sprite-play-height: 16px;
  $sprite-play-total-width: 58px;
  $sprite-play-total-height: 37px;
  $sprite-play-image: '../img/sprite.png';
  $sprite-play: 0px 0px 0px 0px 16px 16px 58px 37px '../img/sprite.png';
  $sprite-stop-x: 21px;
  $sprite-stop-y: 0px;
  $sprite-stop-offset-x: -21px;
  $sprite-stop-offset-y: 0px;
  $sprite-stop-width: 16px;
  $sprite-stop-height: 16px;
  $sprite-stop-total-width: 58px;
  $sprite-stop-total-height: 37px;
  $sprite-stop-image: '../img/sprite.png';
  $sprite-stop: 21px 0px -21px 0px 16px 16px 58px 37px '../img/sprite.png';
  $sprite-zoom26-x: 0px;
  $sprite-zoom26-y: 21px;
  $sprite-zoom26-offset-x: 0px;
  $sprite-zoom26-offset-y: -21px;
  $sprite-zoom26-width: 16px;
  $sprite-zoom26-height: 16px;
  $sprite-zoom26-total-width: 58px;
  $sprite-zoom26-total-height: 37px;
  $sprite-zoom26-image: '../img/sprite.png';
  $sprite-zoom26: 0px 21px 0px -21px 16px 16px 58px 37px '../img/sprite.png';
  $sprite-zooming1-x: 21px;
  $sprite-zooming1-y: 21px;
  $sprite-zooming1-offset-x: -21px;
  $sprite-zooming1-offset-y: -21px;
  $sprite-zooming1-width: 16px;
  $sprite-zooming1-height: 16px;
  $sprite-zooming1-total-width: 58px;
  $sprite-zooming1-total-height: 37px;
  $sprite-zooming1-image: '../img/sprite.png';
  $sprite-zooming1: 21px 21px -21px -21px 16px 16px 58px 37px '../img/sprite.png';

